/*Base*/

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans:wght@500;600&family=Red+Hat+Text:wght@400;700&family=Roboto:wght@100&display=swap');

html {
    
    color: rgba(7, 7, 7, 0.605);
    font-family: 'Bree Serif', serif;
    min-height:100vh;
    min-width: 300px;
    overflow-x: hidden;
    text-shadow: 0 3px 5px rgba(19, 19, 19, 0.1);
}
a {
    color: currentColor;
    cursor: pointer;
    text-decoration: none;
}

/* 2. Specific */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav{
    width: 100%;
    line-height: 50px;
    font-size-adjust: none;
}

nav .brand-logo {
    padding: 6px;
    font-size: 2.0rem;

}

.row {
margin-bottom: 0;
}

/* Datepicker */

.datepicker-date-display {
    background-color: #26a69a;
    font-size: 50px;
    flex:auto;
}

.datepicker-day-button:focus {
    color: black;
    background-color: #26a69a;
}

.datepicker-done,
.datepicker-cancel,
.select-dropdown li>span,
.is-today {
    color: #26a69a;
}

td.is-selected,
.month-prev:active,
.month-prev:focus,
.month-next:active,
.month-next:focus {
    background-color:#26a69a;
}

td.is-selected.is-today {
    color: black;
}

/* CSS - Label for input */

.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom:lightgrey;
    border-color: lightgray;

}


label {
    color:#000;
    font-size: larger;
    
}   

/* CSS Content for travel description */

.description { 
    font-size: 2.4rem;
    margin-bottom: auto;

} 

.destination { 
    display: inline-block;
    margin-top: 3.0rem; 
    vertical-align: top;
    display: inline-block;
    margin-top: 3.0rem; 
    font-size: larger;
    margin-bottom: 3.0rem;
 } 

/* Activity list styling */
.collection .activity-list-item {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 10px 10px;
    border-bottom: 1px solid #e0e0e0;
}

.activity-card {
    margin: 10px;
}

.activity-title {
    font-size: 30px;
    font-weight: bolder;
    color: #000;
    margin: 10px;
}

.activity-info {
    font-size: 20px;
    color: #000;
    margin: 10px;
}

.btn-floating.select-activity {
    position: absolute;
    right: 24px;
    bottom: 40px;
}

.btn-floating.select-activity:hover {
    background-color: #000;
}

/*4. Responsiveness */
/* Separate responsiveness for column reverse */
@media screen and (max-width: 992px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    #travel-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}

 @media screen and (max-width: 670px) { 
   .content {
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 20 rem 10 rem;
       margin: 10px;
      
   }
   .side {
       margin-bottom: 5 rem;
       width: 100%;
   }
   .header {
       min-height: 500px;
   }
 }
@media screen and (min-width: 671px) { 
    .content {
        align-items: top;
        justify-content: space-around;
        justify-content: space-evenly;
        padding: 10rem;
    }
    .side {  
        flex-grow: 0; 
        flex-shrink: 0;
        height: 20rem;
        margin-left: 6 rem;
        order: 2;
        width: 20rem;
    } 
    .travel {
        flex-grow: 2; 
        flex-shrink: 2; 
     }    
}     
